@charset "UTF-8";



h1 {
    font-size: 3em; 
    color: #4CAF50; 
    text-alrgb(255, 0, 0)nter;
    text-align:center;
}

/* Style pour les paragraphes */
p {
    font-size: 4em;
    color: rgb(255, 0, 0); 
    text-align: center;
    
}


